---
layout: default
title: Pegotes
slug: index
---
<div class="jumbotron text-center">
	<div class="container">
		<h1>Pegotes</h1>
		<p>Un pastebin realmente sencillo</p>
		<small class="text-muted">&ndash; Desarrollado por Juan Carlos Mejías Rodríguez (greenLED) &ndash;</small>
		<div class="btn-group btn-group-justified">
			<a href="{{ site.download_zip }}" class="btn btn-block btn-default btn-lg"><span class="hidden-xs hidden-sm">Descargar código fuente </span><span class="glyphicon glyphicon-download visible-xs visible-sm"></span><strong>.zip</strong></a>
			<a href="{{ site.download_tar }}" class="btn btn-block btn-default btn-lg"><span class="hidden-xs hidden-sm">Descargar código fuente </span><span class="glyphicon glyphicon-download visible-xs visible-sm"></span><strong>.tar</strong></a>
			<a href="{{ site.repo }}" class="btn btn-block btn-default btn-lg"><span class="hidden-xs hidden-sm">Ver en </span><span class="glyphicon glyphicon-eye-open visible-xs visible-sm"></span><strong>GitHub</strong></a>
		</div>
	</div>
</div>
<hr/>
{% include social-follow.html %}
<hr/>
{% if site.posts.size >= 1 %}
<div class="container">
	<div class="row">	
		<div class="col-md-4">
			<div class="page-header">
				<h2><span class="glyphicon glyphicon-road"></span> Estados</h2>
			</div>
			<ul class="list-unstyled">
				{% for post in site.categories.statuses limit:6 %}
				<li>
					<p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{ post.date | date_to_string }}</p>
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.content }}</a>
				</li>
				{% endfor %}
				{% if site.categories.statuses.size > 6 %}
				<a href="{{ site.baseurl }}/statuses" class="btn btn-default btn-block">Ver estados anteriores</a>
				{% endif %}
			</ul>
		</div>
		<hr class="visible-xs visible-sm"/>
		<div class="col-md-8">
			<div class="page-header">
				<h2><span class="glyphicon glyphicon-pencil"></span> Blog</h2>
			</div>
			<ul class="list-unstyled">
				{% for post in site.categories.blog limit:5 %}
				<li>
					<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
					<p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{ post.date | date_to_string }}</p>
					{{ post.excerpt | markdownify }}
				</li>
				{% endfor %}
				{% if site.categories.blog.size > 5 %}
				<a href="{{ site.baseurl }}/blog" class="btn btn-default btn-block">Ver posts anteriores</a>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
