---
base_url: "../"
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="wrap">
			<a class="sr-only" href="#content">Saltar al contenido</a>
			{% include nav-main.html %}
			<div class="container">
				<div class="page-header">
					<h1>{{ page.title }}</h1>
				</div>
				<p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{ page.fecha }}</p>
				{{ content }}
				<hr/>
				{% include social-share.html %}
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
