@*
This file is part of Pegotes.

Pegotes is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pegotes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pegotes.  If not, see <http://www.gnu.org/licenses/>.
*@

@(pasteForm: Form[Paste])
@import helper._
@import play.i18n._

@main(Messages.get("add.title")) {
	@if(!pasteForm.field("content").errors().isEmpty()) {
		@for(error <- pasteForm.field("content").errors()) {
			<div class="alert alert-danger">
				<p>@Messages.get(error.message)</p>
			</div>
		}
	}
	@helper.form(action = routes.Application.save(), 'id->"add-form", 'role->"form") {
		<div class="fieldset">
			<div class="form-group">
				<div class="control-group @if(!pasteForm.field("content").errors().isEmpty()){has-error}">
					<textarea class="form-control" id="content" name="content" rows="17" placeholder="@Messages.get("add.privacy")" autofocus></textarea>
				</div>
			</div>
		</div>
	}
}{
	<div class="list-group">
		<a class="list-group-item" id="send-text" href="#" onClick="$('#add-form').submit();" ><span class="glyphicon glyphicon-ok icon-save"></span> <strong>[S]</strong> @Messages.get("buttons.save")</a>
		<a href="@routes.Application.info()" class="list-group-item"><span class="glyphicon glyphicon-question-sign icon-help"></span> <strong>[I]</strong> @Messages.get("buttons.help")</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			$.ctrl('S', function() {$('#add-form').submit();});
			$.ctrl('I', function() {location = "@routes.Application.info()";});
		});
	</script>
}
