@*
This file is part of Pegotes.

Pegotes is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pegotes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pegotes.  If not, see <http://www.gnu.org/licenses/>.
*@

@import play.i18n._

@main("Aide") {
<h2>À propos</h2>
<p><Pegotes est un pastebin. Il vous permet d'enregistrer temporairement un morceau de code et de le partager avec d'autres personnes.</p>
<h2>Raccourcis clavier</h2>
<ul class="list-unstyled">
	<li>[<b>Crtl + I</b>] Aide</li>
	<li>[<b>Crtl + N</b>] Nouveau pegote</li>
	<li>[<b>Crtl + S</b>] <small>(la création d'un)</small> Sauver</li>
	<li>[<b>Crtl + S</b>] <small>(Regarde un bouillie)</small> Télécharger</li>
</ul>
<h2>Licence</h2>
<p>Pegotes est Software Libre. Vous pouvez télécharger le code source de <a href="http://greenled.github.io/gloo">le site du projet<a/>.</p>
}{
	<div class="list-group">
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> @Messages.get("buttons.add")</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			$.ctrl('N', function() {location = "@routes.Application.add()";});
		});
	</script>
}
