@*
This file is part of Pegotes.

Pegotes is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pegotes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pegotes.  If not, see <http://www.gnu.org/licenses/>.
*@

@import play.i18n._

@main("Help") {
<h2>About</h2>
<p>Pegotes is a pastebin. It allows you to save a piece of code temporarily and share it with other people.</p>
<h2>Keyboard shortcuts</h2>
<ul class="list-unstyled">
	<li>[<b>Crtl + I</b>] Help</li>
	<li>[<b>Crtl + N</b>] New pegote</li>
	<li>[<b>Crtl + S</b>] <small>(when adding a pegote)</small> Save</li>
	<li>[<b>Crtl + S</b>] <small>(when viewing a pegote)</small> Download</li>
</ul>
<h2>Licence</h2>
<p>Pegotes is Free Software. You can get it's source code from <a href="http://greenled.github.io/gloo">the project's website<a/>.</p>
}{
	<div class="list-group">
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> @Messages.get("buttons.add")</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			$.ctrl('N', function() {location = "@routes.Application.add()";});
		});
	</script>
}
