@*
This file is part of Pegotes.

Pegotes is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pegotes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pegotes.  If not, see <http://www.gnu.org/licenses/>.
*@

@import play.i18n._

@main(Messages.get("help.title")) {
<h2>@Messages.get("help.about")</h2>
<p>@Messages.get("help.whatis")</p>
<h2>@Messages.get("help.shortcuts")</h2>
<ul class="list-unstyled">
	<li>[<b>Crtl + H</b>] @Messages.get("help.help")</li>
	<li>[<b>Crtl + N</b>] @Messages.get("help.newPegote")</li>
	<li>[<b>Crtl + S</b>] <small>(@Messages.get("help.creating"))</small> @Messages.get("help.save")</li>
	<li>[<b>Crtl + S</b>] <small>(@Messages.get("help.viewing"))</small> @Messages.get("help.download")</li>
</ul>
<h2>@Messages.get("help.license")</h2>
<p>@Html(Messages.get("help.licenceText"))</p>
}{
	<div class="list-group">
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> @Messages.get("buttons.add")</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			$.ctrl('N', function() {location = "@routes.Application.add()";});
		});
	</script>
}