@*
This file is part of Pegotes.

Pegotes is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pegotes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pegotes.  If not, see <http://www.gnu.org/licenses/>.
*@

@import play.i18n._

@main("Ayuda") {
<div class="page-header">
	<h1>Ayuda</h1>
</div>
<h2>Acerca de</h2>
<p>Pegotes es un pastebin. Te permite guardar un pedazo de código temporalmente y compartirlo con otras personas.</p>
<h2>Atajos del teclado</h2>
<ul class="list-unstyled">
	<li>[<b>Crtl + I</b>] Ayuda</li>
	<li>[<b>Crtl + N</b>] Nuevo recorte</li>
	<li>[<b>Crtl + S</b>] <small>(escribiendo un recorte)</small> Guardar recorte</li>
	<li>[<b>Crtl + S</b>] <small>(viendo un recorte)</small> Descargar recorte</li>
</ul>
<h2>Licencia</h2>
<p>Pegotes es Software Libre. Puedes descargar su código fuente desde <a href="http://greenled.github.io/gloo">el sitio del proyecto<a/>.</p>
}{
	<div class="list-group">
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> @Messages.get("buttons.add")</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			$.ctrl('N', function() {location = "@routes.Application.add()";});
		});
	</script>
}
