@*
This file is part of Gloo.

Gloo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Gloo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Gloo.  If not, see <http://www.gnu.org/licenses/>.
*@

@(title: String)(content: Html)(sidebar: Html = Html (""))(styles: Html = Html (""))(scripts: Html = Html (""))

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        @styles
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    	<div class="container">
			<div class="row">
				<div class="col-md-2 col-md-push-10 sidebar-2">
					@sidebar
				</div>
				<div class="col-md-10 col-md-pull-2">
					@content
				</div>
			</div>
		</div>
        <script src="@routes.Assets.at("javascripts/scripts.min.js")" type="text/javascript"></script>
        @scripts
    </body>
</html>
