@*
This file is part of Gloo.

Gloo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Gloo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Gloo.  If not, see <http://www.gnu.org/licenses/>.
*@

@import play.i18n._

@main(Messages.get("notFound.title")) {
	<div class="container-narrow">
		<div class="jumbotron">
			<h1>@Messages.get("notFound.title")</h1>
			<p class="lead">@Messages.get("notFound.message")</p>
			<a class="btn btn-large btn-success" href="@routes.Application.add()">@Messages.get("notFound.addNew")</a>
		</div>
	</div>
}{
	<div class="list-group">
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> @Messages.get("buttons.add")</a>
	</div>
}(){
<script>
	$(document).ready(function() {
		$.ctrl('N', function() {location = "@routes.Application.add()";});
	});
</script>
}
