@*
This file is part of Gloo.

Gloo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Gloo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Gloo.  If not, see <http://www.gnu.org/licenses/>.
*@

@(key: String, content: String)

@main(key) {
	<nav id="nav-1">
		<ul>
			<li><a href="#" onClick="$('#send-text-form').submit();" class="nav-btn" ><i class="save"></i></a></li>
		</ul>
	</nav>
	<content>
		<pre @*class="prettyprint linenums"*@ id="content" >@content</pre>
	</content>
	<nav id="nav-2" >
		<ul>
			<li><a class="nav-btn" href="#" ><i class="darken"></i></a></li>
			<li><a class="nav-btn" href="#" ><i class="lighten"></i></a></li>
			<li><a class="nav-btn" href="#" ><i class="eye"></i></a></li>
			<li><a class="nav-btn" href="#" ><i class="help"></i></a></li>
		</ul>
	</nav>
}{
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/prettify.min.css")">
}{
<script src="@routes.Assets.at("javascripts/prettify.min.js")" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		window.prettyPrint && prettyPrint();
	});
</script>
}