@*
This file is part of Pegotes.

Pegotes is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pegotes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pegotes.  If not, see <http://www.gnu.org/licenses/>.
*@

@(key: String, content: String)
@import play.i18n._

@main(key) {
	<pre class="prettyprint linenums">@content</pre>
}{
	<div class="list-group">
		<a class="list-group-item" href="@routes.Application.raw(key)" ><span class="glyphicon glyphicon-download-alt icon-download"></span> <strong>[S]</strong> @Messages.get("buttons.download")</a>
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> @Messages.get("buttons.add")</a>
		@adminsZone {
			<a href="@routes.Application.delete(key)" class="list-group-item"><span class="glyphicon glyphicon-remove icon-delete"></span> <strong>[D]</strong> @Messages.get("buttons.delete")</a>
			<a href="@routes.Application.cron()" class="list-group-item"><span class="glyphicon glyphicon-cog icon-cron"></span> <strong>[R]</strong> @Messages.get("buttons.cron")</a>
		}
		<a href="@routes.Application.info()" class="list-group-item"><span class="glyphicon glyphicon-question-sign icon-help"></span> <strong>[H]</strong> @Messages.get("buttons.help")</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			window.prettyPrint && prettyPrint();
			$.ctrl('S', function() {location = "@routes.Application.raw(key)";});
			$.ctrl('N', function() {location = "@routes.Application.add()";});
			$.ctrl('H', function() {location = "@routes.Application.info()";});
			@adminsZone {
				$.ctrl('D', function() {location = "@routes.Application.delete(key)";});
				$.ctrl('R', function() {location = "@routes.Application.cron()";});
			}
		});
	</script>
}
