@*
This file is part of Gloo.

Gloo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Gloo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Gloo.  If not, see <http://www.gnu.org/licenses/>.
*@

@(key: String, content: String)

@main(key) {
	<pre class="prettyprint linenums">@content</pre>
}{
	<div class="list-group">
		<a class="list-group-item" href="@routes.Application.raw(key)" ><span class="glyphicon glyphicon-download-alt icon-download"></span> <strong>[S]</strong> Descargar</a>
		<a id="add-btn" class="list-group-item" href="@routes.Application.add()" ><span class="glyphicon glyphicon-plus icon-add"></span> <strong>[N]</strong> Nuevo</a>
	</div>
}(){
	<script>
		$(document).ready(function() {
			window.prettyPrint && prettyPrint();
			$.ctrl('S', function() {location = "@routes.Application.raw(key)";});
			$.ctrl('N', function() {location = "@routes.Application.add()";});
		});
	</script>
}